@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap");

* {
  box-sizing: border-box;
  list-style: none;
}
a,
a:link,
a:active,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
}
body {
  margin: 0;
  background-color: #fff;
  font-family: "Raleway", sans-serif;
}

.Row-direction {
  display: flex;
  flex-direction: row;
}
.nav-bar {
  min-height: 60px;
  padding: 0px 10% 0px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.brand-logo img {
  height: 80px;
  cursor: pointer;
}

.nav-list .nav-items {
  margin: 0 10px;
  cursor: pointer;
  color: orangered;
  font-weight: 700;
}
.my-80 {
  margin-top: 80px;
  margin-bottom: 80px;
}
.mt-80 {
  margin-top: 80px;
}
.mt-180 {
  margin-top: 180px;
}
.mb-80 {
  margin-top: 80px;
}

.nav-list {
  margin-top: 15px;
}

.home-slider {
  height: 300px;
  width: 100%;
}
.weathimg {
  height: 100%;
  right: 0;
  width: 100%;
  object-fit: cover;
}
.slider-row {
  position: relative;
  height: 400px;
}
.searchContainer {
  position: relative;
  width: 300px;
  background-color: blue;
}
.resultOverlay {
  width: 100%;
  position: absolute;
  z-index: 8;
  top: 50px;
  min-height: 100px;
  background-color: #fff;
  padding: 4px;
}
.resultCard {
  height: 30px;
  cursor: pointer;
  margin-top: 3px;
  margin-bottom: 3px;
  width: 100%;
  background-color: #f2f2f2;
  overflow: hidden;
  text-align: left;
  padding: 4px;
}
@media (max-width: 670px) {
  * {
    font-size: 12px;
  }
  /* .slider-input {
    width: 70% !important;
  } */
  .searchContainer {
    width: 70% !important;
  }

  .nav-list {
    display: none;
  }
  .brand-logo img {
    height: 50px;
  }
}
.overLaySlider {
  text-align: center;
  width: 100%;
  position: absolute;
  padding-top: 8%;
  z-index: 99;
  height: 100%;
  background-color: rgba(241, 177, 177, 0.466);
}
.slider-title {
  color: #fff;
  font-weight: 800;
  margin-bottom: 20px;
}
.slider-input {
  border-radius: 3px;
  width: 100%;
  border: none;
  padding: 10px;
  height: 40px;
}
.slider-input:focus {
  outline: none;
}

.about-us {
  margin-top: 200px;
}
.why-us {
  margin-top: 200px;
  padding: 80px 10px;
}

.sub-title {
  font-weight: 700;
}
.line1 {
  height: 2px;
  width: 40px;
  background-color: salmon;
}
.line3 {
  height: 2px;
  width: 80px;
  background-color: salmon;
}

.sub-para {
  line-height: 1.5;
  letter-spacing: 1.8px;
}

.back-primary {
  background-color: #f2f2f2;
}

.detail-main {
  min-height: 460px;
  padding: 10px;
}

.line2 {
  height: 1px;
  width: 100%;
  background-color: grey;
}

.result-list {
  border: 1px solid rgb(201, 199, 199);
  min-height: 300px;
  padding: 10px;
  border-radius: 5px;
}
.result-list > li {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-transform: capitalize;
}
/* .result-list > li > span {
  text-transform: capitalize;
} */

.history-list > li {
  list-style-type: square !important;
}
